<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}. {{ title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container page">
    <div class="row">
        <div class="col-md-7 col-print-7">
            <h1>{{ name }}, {{ title }} <br/>{{ dept }}</h1>
            <p>
                <time datetime="{{ buildinfo.date }}" class="text-muted">Last update: {{ updated }}</time>
            </p>
            <p>
                <span class="screen"><a href="{{ pdfFileName }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download PDF version</a></span>
                <span class="print">The online version is available at <a href="{{ baseUrl }}" class="text-nowrap"><i
                    class="fa fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></span>
            </p>
        </div>
        <div class="col-md-5 col-print-5">
            <dl class="row">
                {{#each facts}}
                <dt class="col-md-4">{{ @key }}</dt>
                <dd class="col-md-8">{{{ this }}}</dd>
                {{/each}}
            </dl>
        </div>
    </div>

    <!-- <h3 class="screen">Skills</h3>
    <div class="row mb-4">
        {{#each skills}}
        <div class="col-print-1 col-3 col-md-2 col-lg-1 text-right">
            <small>{{ this.[0] }}</small>
        </div>
        <div class="col-print-1 col-3 col-md-2 col-lg-1">
            {{ this.[1] }}
        </div>
        {{/each}}
    </div> -->
    <div class="row">
        <div class="col-md-2 col-print-2">
            <img src="3358071.jpg" class="img-fluid">
        </div>
        <div class="col-md-10 col-print-10">
            <h3 class="screen">About me</h3>
            <p>
                I am a graduate research assistant pursuing my PhD in Materials Science under <a href="http://me.gatech.edu/faculty/mcdowell">Dr. David L. McDowell</a> 
                at the Georgia Institute of Technology. My expertise lies in molecular dynamics and scientific software development. My research focuses primarily on physics-based atomistic and coarse-grained atomistic modeling of multicomponent alloys and 
                fundamental deformation processes at the nanoscale. 
            </p>
        </div>  
    </div>

    <h2>Education</h2>
    <p>
    <ul>
        <li>
            <b>Georgia Institute of Technology</b> -- PhD Materials Science and Engineering (Projected 2022)
        </li>
        <li>
            <b>University of California, Los Angeles</b> -- B.S. Materials Science and Engineering 2017
        </li>
    </ul>
    </p>

    <h2>Publications</h2>
    {{#each publications}}
    <div class="card mt-4">
        <div class="card-body">
            {{{markdown contents }}}
        </div>
    </div>
    {{/each}}

    <h2>Research experience</h2>
    {{#each jobs}}
    <div class="card mb-4">
        <div class="card-body">
            <h3>{{ institution }}
                <small>
                    {{ location }}
                </small>
            </h3>
            <p>{{ position }}</p>
            <p class="text-muted">{{ date }}</p>

            {{{markdown contents }}}

            <div>
                {{#each badges }}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}

    <h2>Teaching experience</h2> 
    {{#each teaching}}
    <div class="card mb-4">
        <div class="card-body">
            <h3>{{ title }}
                <small>
                    {{ location }}
                </small>
            </h3>
            <p class="text-muted">{{ date }}</p>

            {{{markdown contents }}}

            {{#if file}}
            <p>
                Certification<a href="{{ ../baseUrl }}{{ file }}"></a>
            </p>
            {{/if}}
        </div>
    </div>
    {{/each}}

    <h2>Conference presentations</h2>
    {{#each presentations}}
    <div class="card mt-4">
        <div class="card-body">
            {{{markdown contents }}}
        </div>
    </div>
    {{/each}}





</div>
</body>
</html>
